extends layout
block scripts

block content
	a#new_item_box(style="float:left;width:100%;height:auto;text-decoration:none;",href="/new_item") Manage Items
	a#new_category_box(style="float:left;width:100%;height:auto;text-decoration:none;",href="/new_category") Manage Tags
