#main_box{
	width:60%;
	height:auto;
	margin:0 20%;
	float:left;
}
.line{
	width:100%;
	float:left;
	height:auto;
	margin:10px 0;
}
.label{
	width:80px;
	color:#777;
	font-size:13px;
	padding:5px 10px;
	float:left;
}
h{
	font-size: 16px;
	color:#777;
	margin-bottom:20px;
	float:left;
}
input{
	float:left;
}
.name{
	font-size:13px;
	padding-top:4px;
	float:left;
	text-decoration: none;
	color:#000;
}
input.title{
	width:400px;
	height:20px;
}
textarea.textarea{
	width: 400px;
	height:400px;
}
input.submit{
	float:right;
	background:#fff;
	color:#777;
	font-size: 13px;
	border:solid 1px #777;
	margin-right:80px;
	cursor: pointer;
}
input.submit:hover{
	background: #000;
	color:#fff;
}
